@inject SportHub.Web.Services.Localization.LanguageService Language

@if (!_isReady)
{
    <p><em>@Language.T("common.loading")</em></p>
}
else
{
    <CascadingAuthenticationState>
        <Router AppAssembly="@typeof(App).Assembly" NotFoundPage="typeof(Pages.NotFound)">
            <Found Context="routeData">
                <AuthorizeRouteView RouteData="@routeData" DefaultLayout="@typeof(MainLayout)">
                    <NotAuthorized>
                        <RedirectToLogin />
                    </NotAuthorized>
                </AuthorizeRouteView>
                <FocusOnNavigate RouteData="@routeData" Selector="h1" />
            </Found>
        </Router>
    </CascadingAuthenticationState>
}

@code {
    private bool _isReady;

    protected override async Task OnInitializedAsync()
    {
        await Language.InitializeAsync();
        _isReady = true;
    }
}
